@import "tailwindcss";
@plugin "daisyui";

html, body, #app {
  height: 100%;
}


/* App-level reading theme variables */
:root{
  --reader-bg: #ffffff;
  --reader-fg: #111827;
  --reader-accent: #111827;
  --reader-font: ui-serif, Georgia, "Times New Roman", Times, serif;
}



